/* NAVIGATION STUFF GOES HERE  */
#headerWrappeer {
    header{padding: 2rem $gutter;}
    h1{font-size: 2rem;}
}

nav {
    ul {
    a {
        img {
            display: none;
        }
        span {
            display: block;
        }
        }
    }
}//end of nav
#about {
.image-grid { grid-template-columns: repeat(2, 1fr);}
p {
    padding: 1rem 2rem;
    text-align: justify;
    line-height: 2;
    font-size: 2rem;
    max-width: 700px;
    margin: 20px auto;
}
}