/* NAVIGATION STUFF GOES HERE  */
#headerWrappeer {
    header{padding: 2rem $gutter;}
    h1{font-size: 2rem;}
}

nav {
    ul {
    a {
        img {
            display: none;
        }
        span {
            display: block;
        }
        }
    }
}//end of nav

