$primaryColor: #9f7ac4; 
$secondaryColor: #c4b27a;
$accentColor: #7ac4c4;
$greyColor: #ccc;
$menuColor: #c47ab2;
$red: #c57979;
$yellowgreen: #9fc47a;
$green: #7ac48c;
$blue: #7a8cc4;

$defaultFont:'Funnel Display', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;