$primaryColor: #b466ab; 
$secondaryColor: #fde47f;
$accentColor: #7ccce5;
$greyColor: #ccc;
$menuColor: #b466ab;

$defaultFont:'Funnel Display', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;